<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">Xsports Found</h1>
       <p class="slogan">小众，汇聚成流。
         <br>你不是一个人。

       </p>
       <p class="lead">
         <%= link_to '寻找队友', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


   <div class="padding: 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">你是一个人在玩吗？</h2>
            <p class="lead">身边玩极限运动的人是不是很少？
              <br>场地自己找
              <br>极限自己玩
              <br>遇到困难时，是不是特别想放弃？
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">小众不等于一个人</h2>
            <p class="lead">为什么“小众”就意味自己玩？
              <br>我们相信即使“小众”再“小”，
              <br>也能找到和我们一样的人。
            </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">小众
              <br>汇聚成流
            </h2>
            <p class="lead">极限运动，是可以一群人玩的！
              <br>我们也可以找到和我们一样的人！
              <br>我们也可以有团队！
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
       <div class="row bottom">
         <div class="bottom-inner col-md-6 col-md-offset-3">
           <p class="lead">
             <%= link_to '寻找队友', jobs_path, class: 'btn btn-bottom' %>
           </p>
         </div>
       </div>
     </div>
